/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
eureka-server/.gitignore
eureka-server/.mvn/
eureka-server/mvnw
eureka-server/mvnw.cmd
eureka-server/pom.xml
eureka-server/src/main/java/
eureka-server/src/test/
src/main/java/com/example/eurekaserver/
src/test/java/com/example/eurekaserver/
